# Node
node_modules/

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
dist/
web-build/
expo-env.d.ts

# Expo
.expo/

# VS Code
.vscode/

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db
*.pem

# Environment
.env
.env*.local

# npm
package-lock.json

# Build
/build/

# SQLite DB
*.sqlite
*.db

# Misc
.idea/
*.swp
*.tgz
*.orig.*
app-example

# Expo Web
web-build/

# Coverage
coverage/

# Python
__pycache__/
*.pyc

# Mac
*.DS_Store

# Linux
*~

# Native
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android